



@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');

}

:root {
  --phone-width: 350px;
  --desktop-width: 600px;
  --yellow: #F7F3CE;
  --green: #99DDCC;
  --blue: #BAD7DF;
  --purple: #DBC6EB;
  --pretty-purple: #8c32a1;
  --pretty-purple-dark: #501a5c;
  --cute-light-green: #edfaf7;
  --cute-darker-green: #b7c9c5;
  --cute-picked-green: #7cd9c3;
  --cute-blue: #9FC7D6;
  --cute-border-blue:  #4f6d78;
  --smart-blue:  	#cfe2f3;
  --smart-border-blue:  	#2986cc;
  --adorable-border-pink: #FF90BC;
  --adorable-pink: #FFC0D9;
  --adorable-blueish: #33186B;
  --card-green: #183D3D;
  --gray: #e2e2e2;
  --dark-gray: #191919;
  --modal-black: #202221;
}

.game__title.modal__title {
  font-family: 'Inter';
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.game__title {
  font-size: x-large;
}

body {
  background-color: var(--dark-gray);
  color: white;
}

.game {
  width: var(--desktop-width);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-color: blue;
  gap: 5px;
  width: 100%;
}

.cell {
  background-color: var(--cute-light-green);
  border: 1px var(--cute-darker-green) solid;
  text-align: center;
  height: 70px;
  color: var(--card-green);
  line-height: 70px;
  border-radius: 3px;
}

.selected {
  background-color: var(--cute-picked-green);
}

.board-move,
.board-enter-active,
.board-leave-active {
  transition: 0.9s linear;
}

.board-leave-active {
  position: absolute;
}

.done {
  position: absolute;
  top: 0;
  width:100%;
  z-index: 100;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade {
  border:blue 3px solid;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  animation: bounce-in 1s;
}

.clickable:disabled {
  background-color: transparent;
  color: darkgray;
}

.clickable {
  background-color: var(--adorable-pink);
  color: var(--dark-gray);
}

.modal {
  z-index: 1000;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
}

.modal__content {
  color: white;
  width: 50%;
  max-width: 500px;
  background-color: var(--pretty-purple);
  position: relative;
  top: 150px;
  opacity: 100%;
}

.start-modal {
  background-color: var(--pretty-purple);
}

.modal.opaque {
  background-color: rgba(159, 199, 214, 0.5);
}

.instruction-modal {
  position: relative;
  border-radius: 5px;
}

.flash {
  position: absolute;
  background-color: aqua;
  transition: opacity 0.5s linear;
  z-index: 10000;
  right: calc(calc(var(--desktop-width)/2) - 50px);
  width: 100px;
  display: flex;
  background-color: var(--adorable-pink);
  border: 1px solid var(--adorable-border-pink);
  padding: 10px 3px;
  align-items: center;
  justify-content: center;
  color: var(--adorable-blueish)
}

.fadeintou-enter-active,
.fadeintou-leave-active {
  transition: opacity 0.1s ease;
}

.fadeintou-enter-from,
.fadeintou-leave-to {
  opacity: 0;
}

.modal__p {
  margin: 30px 20px;
  padding: 25px;
  color:white;
  text-align: justify;
}

.modal__p > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.modal__secondary {
  background-color: var(--modal-black);
  top: 25px;
  border: 1px var(--cute-border-blue) solid;
  border-radius: 5px;
}

.header {
  width: var(--desktop-width);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  min-height: 70px;
  width: 100%;
  border-radius: 5px;
  color: var(--card-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card > span {
  margin: 0 auto;
  display: block;
}

.btn {
  padding: 10px;
  display: block;
  border-radius: 4px;
}

.attempts {
  padding: 10px;
  color: white;
}

.title {
  white-space: nowrap;
  margin: 20px 0;
  color: var(--smart-blue)
}

.button-group {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

}

.result-button {
  margin: 0 auto;
  background-color: var(--pretty-purple-dark);
  color: white;
}

.play-button {
  background-color: white;
  color: var(--pretty-purple-dark);
  font-weight: bold;
}

.modal__title {
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 0;
  color: var(--adorable-pink);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
}


.fastpop {
  animation: bounce-in 0.1s;
}

@keyframes bounce-in {
  0% {
    transform: scale(1);
  }

  10%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pop {
  animation: bounce-in 0.5s linear;
}

.shake {
  animation: shake 0.5s linear both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 600px) {
  .game {
    width: var(--phone-width)
  }

  .modal__content {
    width: var(--phone-width);
  }

  .title {
    width: 100%;
    white-space: nowrap;
  }

  .container {
    width: 100%;
  }

  .header {
    width: var(--phone-width);
  }

  .instruction-modal {
    width: var(--phone-width)
  }

  .flash {
    left: calc(calc(var(--phone-width)/2) - 50px)
  }
}
