.game {
  display: grid;
  border-color: red;
  height: calc()
}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-color: blue;
}

.cell {
  background-color: gray;
  padding: 15px;
}

.grid {
  display: grid;
  border-color: red;
}

.checkbox {
  display: block;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
}


.selected {
  border: 2px solid blue;
}


.found {
  border: 2px solid yellow;
}