.game {

  border-color: red;
  position: relative;
  height: 500px;
}

.found-row {
  display:flex;
  flex-direction: column;
}

.done {
  position: absolute;
}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-color: blue;
}

.cell {
  background-color: gray;
  padding: 15px;
}

.selected {
  border: 2px solid blue;
}


.found {
  border: 2px solid yellow;
}

.pick {
  background-color: brown;
}

.board-move,
.board-enter-active,
.board-leave-active {
  transition-duration: 1s;
  transition-timing-function: ease;
}

.board-leave-active {
  position: absolute;
}

.done {
  position: absolute;
  top:0;
  width: 100%;
  z-index: 100;
  background-color: aqua;
}


/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s ease;
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}

.clickable {
  background-color: red;
}

@keyframes fade {


  
}