.game {

  border-color: red;
  position: relative;
  height: 500px;
}

.done {
  position: absolute;
}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-color: blue;
}

.cell {
  background-color: gray;
  padding: 15px;
  height: 56px;
  border: 1px solid palevioletred;
}

.selected {
  background-color: blueviolet;
}

.found {
  border: 2px solid yellow;
  height: 56px;
}

.pick {
  background-color: brown;
}

.board-move,
.board-enter-active,
.board-leave-active {
  transition: 1s linear;
}

.board-leave-active {
  position: absolute;
}

.done {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: aqua;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  background-color: purple;
}

.clickable {
  background-color: red;
}
